.App {
  text-align: center;
  margin: 2rem;
}

.motif-manager form input,
.motif-manager form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.motif-manager table {
  border-collapse: collapse;
}
